<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="controllerFE.js"></script>
  </head>
  <body>
    <h2 id="noiDung"></h2>
    <input id="boxChat" type="text" />
    <button id="buttonSend">Send</button>
  </body>
</html>
