<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <script src="../public/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="../public/controllerFE.js" type="text/javascript"></script>
    <!-- <script src="../public/controllerUpload.js" type="text/javascript"></script> -->
    <script src="../public/controllerIndex.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../public/css/styleIndex.css" />
    <style>
      h2 {
        font-size: 40px;
      }

      #noiDung {
        max-height: 200px;
        overflow-y: auto;
        /* position: fixed; */
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="coverBox">
      <div id="boxChatMain">
        <h5 id="username"></h5>

        <h4 id="noiDung"></h4>

        <input id="boxChat" type="text" />
        <button id="buttonSend" style="margin-bottom: 10px">Send</button>
        <div>
          <form
            id="uploadForm"
            action="http://localhost:3000/upload_file"
            method="post"
            enctype="multipart/form-data"
          >
            <input type="file" name="file" style="margin: 20px" /><br />
            <input type="submit" value="upload" style="margin: 20px" />
          </form>
        </div>
      </div>
      <div id="listUser">
        <div>
          <div>Friend</div>
          <div>
            <ul id="friendList">
              <li id="allUser"></li>
            </ul>
          </div>
        </div>

        <div>
          <div>User online</div>
          <div>
            <ul id="userList">
              <li id="listUserOnline"></li>
            </ul>
          </div>
        </div>
        <div>
          <div>All user</div>
          <div>
            <ul id="allUserList">
              <li id="allUser"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div><button id="logout" style="margin: 20px">LOGOUT</button></div>
  </body>
</html>
