<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="../public/jquery.js" type="text/javascript"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"
      type="text/javascript"
    ></script>
    <script src="../public/controllerFE.js" type="text/javascript"></script>
  </head>
  <body style="background-color: gray">
    <div>
      <div><h3>Register form</h3></div>
      <div>
        <h5>username(*):</h5>
        <input id="username" type="text" />
      </div>
      <div>
        <h5>password(*):</h5>
        <input type="password" id="password" type="text" />
      </div>
      <div>
        <h5>confirm password(*):</h5>
        <input type="password" id="confirmPassword" type="text" />
      </div>
      <div>
        <h5>name(*):</h5>
        <input id="name" type="text" />
      </div>
      <!-- <div>
        <h5>nickname:</h5>
        <input id="nickname" type="text" />
      </div> -->
      <div style="margin: 30px">
        <button id="buttonRegister">Register</button>
      </div>
    </div>
  </body>
</html>
