<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="./controllerFE.js"></script>
  </head>
  <body style="background-color: gray">
    <div>
      <div><H3>Register form</H3></div>
      <div>
        <h5>username(*):</h5>
        <input id="username" type="text" />
      </div>
      <div>
        <h5>password(*):</h5>
        <input type="password" id="password" type="text" />
      </div>
      <div>
        <h5>confirm password(*):</h5>
        <input type="password" id="confirmPassword" type="text" />
      </div>
      <div>
        <h5>name(*):</h5>
        <input id="name" type="text" />
      </div>
      <div>
        <h5>nickname:</h5>
        <input id="nickname" type="text" />
      </div>
      <div style="margin: 30px">
        <button id="buttonRegister">Register</button>
      </div>
    </div>
  </body>
</html>
